<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.intek.wpma"
    android:versionCode="1"
    android:versionName="5.04">
    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.honeywell.decode.permission.DECODE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"
        android:permissionGroup="android.permission-group.HARDWARE_CONTROLS"
        android:protectionLevel="normal"/>

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ScanActivity" />
        <activity android:name=".choiseWork.Menu" />
        <!-- Набор -->
        <activity android:name=".choiseWork.set.WatchTablePart" />
        <activity android:name=".choiseWork.set.SetComplete" />
        <activity android:name=".choiseWork.set.Correct" />
        <activity android:name=".choiseWork.set.SetInitialization" />
        <!-- Спуск, погрузка, отгрузка -->
        <activity android:name=".choiseWork.shipping.ChoiseWorkShipping" />
        <activity android:name=".choiseWork.shipping.Downing" />
        <activity android:name=".choiseWork.shipping.UnLoading" />
        <activity android:name=".choiseWork.shipping.Loading" />
        <!-- Комплектация -->
        <activity android:name=".choiseWork.shipping.FreeComplectation" />
        <activity android:name=".choiseWork.shipping.ShowInfo" />
        <activity android:name=".choiseWork.shipping.ChoiseDown" />
        <activity android:name=".choiseWork.shipping.NewComplectation" />
        <activity android:name=".choiseWork.shipping.ShowInfoNewComp" />
        <activity android:name=".choiseWork.shipping.ShowRoute" />
        <activity android:name=".choiseWork.shipping.ShowBox" />
        <!-- Приемка -->
        <activity android:name=".choiseWork.accept.Search" />
        <activity android:name=".choiseWork.accept.AccMenu" />
        <activity android:name=".choiseWork.accept.YapItem" />
        <activity android:name=".choiseWork.accept.NoneItem"/>
        <activity android:name=".choiseWork.accept.ItemCard"/>
        <!-- Маркировка -->
        <activity android:name=".choiseWork.revise.ReviseMark" />
        <activity android:name=".choiseWork.revise.MarkMenu" />
        <activity android:name=".choiseWork.revise.ReMark" />
        <activity android:name=".choiseWork.accept.AccMark" />
        <!-- Кросс-докинг -->
        <activity android:name=".choiseWork.accept.crossDoc.CrossCard"/>
        <activity android:name=".choiseWork.accept.crossDoc.CrossYepItem"/>
        <activity android:name=".choiseWork.accept.crossDoc.CrossMark"/>
        <activity android:name=".choiseWork.accept.crossDoc.CrossDoc"/>
        <activity android:name=".choiseWork.accept.crossDoc.CrossNonItem"/>
        <activity android:name=".choiseWork.accept.crossDoc.CrossInfo"/>
        <!-- Разнос -->
        <activity android:name=".choiseWork.accept.transfer.TransferInitialize"/>
        <activity android:name=".choiseWork.accept.transfer.TransferMode"/>
        <activity android:name=".choiseWork.accept.transfer.TransferYepItem"/>
        <activity android:name=".choiseWork.accept.transfer.TransferCard"/>
        <activity android:name=".choiseWork.accept.transfer.TransferCardRec"/>
        <activity android:name=".choiseWork.accept.transfer.TransferCardState"/>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>